.spinner {
    left: 48%;
    position: absolute;
    top: 48%;
    z-index: 10000;
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    -ms-animation: spinner 1s linear infinite;
    -o-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    color: #428bca;
    font-size: 28px;
}
.spinner.off {
    opacity: 0;
}
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes spinner {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.prstatus {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}
.projectnav,
.projectsnav {
    margin-bottom: 10px;
}
.glyphicon-completed:before {
  content: "\e013";
}
.glyphicon-completed:hover:before {
  content: "\e066";
}
.glyphicon-uncompleted:before {
  content: "\e072";
}
.glyphicon-uncompleted:hover:before {
  content: "\e067";
}
#makereport .add-on {
    width: 60px;
}
form#makereport {
    margin: 0;
}
.addtime input,
.addtime select,
.edittime input,
.edittime select {
    border-radius: 0;
    padding: 0;
    border-width: 0;
    height: 100%;
}
.addtime button,
.edittime button,
button.edit,
button.remove {
    border: 1px solid;
}
/* .glyphicon-play */
.glyphicon-project-active:before {
  content: "\e072";
}
/* .glyphicon-pause */
.glyphicon-project-on_hold:before {
  content: "\e073";
}
/* .glyphicon-stop */
.glyphicon-project-archived:before {
  content: "\e074";
}
