.prstatus {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}
.projectnav,
.projectsnav {
    margin-bottom: 10px;
}
.glyphicon-completed:before {
  content: "\e013";
}
.glyphicon-completed:hover:before {
  content: "\e066";
}
.glyphicon-uncompleted:before {
  content: "\e072";
}
.glyphicon-uncompleted:hover:before {
  content: "\e067";
}
#makereport .add-on {
    width: 60px;
}
form#makereport {
    margin: 0;
}
.addtime input,
.addtime select,
.edittime input,
.edittime select {
    border-radius: 0;
    padding: 0;
    border-width: 0;
    height: 100%;
}
.addtime button,
.edittime button,
button.edit,
button.remove {
    border: 1px solid;
}
/* .glyphicon-play */
.glyphicon-project-active:before {
  content: "\e072";
}
/* .glyphicon-pause */
.glyphicon-project-on_hold:before {
  content: "\e073";
}
/* .glyphicon-stop */
.glyphicon-project-archived:before {
  content: "\e074";
}
