.prstatus {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}
.icon-completed {
  background-position: -288px 0;
}
.icon-completed:hover {
  background-position: -120px -72px;
}
.icon-uncompleted {
  background-position: -264px -72px;
}
.icon-uncompleted:hover {
  background-position: -144px -72px;
}
#makereport .add-on {
    width: 60px;
}
form#makereport {
    margin: 0;
}
div#time_report {
    width: auto;
}
.addtime th > *,
.edittime th > * {
    border-radius: 0;
    margin-bottom: 0;
    height: 100%;
    border-width: 0;
    box-shadow: none;
}
.addtime input,
.addtime select,
.edittime input,
.edittime select {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-width: 0;
    box-shadow: none;
    height: 100%;
    width: 100%;
}
.addtime select,
.edittime select {
    padding-left: 10px;
    vertical-align: top;
}
.edittime input[name=description] {
    padding-left: 18px;
    width: 94%;
}
.addtime .icon-user,
.edittime .icon-user,
.edittime .icon-file,
.edittime .icon-folder-close {
    position: absolute;
    margin-top: 2px;
}
.addtime button,
.edittime button,
button.edit,
button.remove {
    border: 1px solid;
}
.editcalendar button {
    margin-bottom: 10px;
}
