<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/datepicker.css" rel="stylesheet" media="screen">
    <style type="text/css">
.prstatus {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}
.icon-completed {
  background-position: -288px 0;
}
.icon-completed:hover {
  background-position: -120px -72px;
}
.icon-uncompleted {
  background-position: -264px -72px;
}
.icon-uncompleted:hover {
  background-position: -144px -72px;
}
#makereport .add-on {
    width: 60px;
}
form#makereport {
    margin: 0;
}
div#time_report {
    width: auto;
}
.addtime th {
    padding: 4px;
}
.addtime th > *,
.edittime th > * {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    box-shadow: none;
}
.addtime input,
.addtime select,
.edittime input,
.edittime select {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-width: 0;
    box-shadow: none;
    height: 100%;
    width: 100%;
}
.addtime select,
.edittime select {
    padding-left: 10px;
    vertical-align: top;
}
.addtime .icon-user,
.edittime .icon-user {
    position: absolute;
    margin-top: 2px;
}
.addtime button,
.edittime button {
    margin-left: 5px;
    position: absolute;
    border: 1px solid;
    display: none;
}
.addtime:hover button,
.edittime:hover button {
    display: inline;
}
button#edit {
    display: none;
    border: 1px solid;
    float: right;
    margin-right: -34px;
}
button#remove {
    display: none;
    border: 1px solid;
    float: right;
    margin-right: -62px;
}
tr:hover button#edit,
tr:hover button#remove {
    display: inline;
}
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-static-top"></div>
    <div class="container">
        <div class="content">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
{% if dev %}
<script src="/static/js/json2.js"></script>
<script src="/static/js/jquery-1.7.2.js"></script>
<script src="/static/js/jquery.deserialize.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone.js"></script>
<!--[if !IE]><!-->
<script src="/static/js/backbone.fetch-cache.js"></script>
<!--<![endif]-->
<script src="/static/js/backbone-pageable.js"></script>
<script src="/static/js/general.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/collections.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/main.js"></script>
{% else %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38418276-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script src="/static/js/json2.min.js"></script>
<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/jquery.deserialize-min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<!--[if !IE]><!-->
<script src="/static/js/backbone.fetch-cache.min.js"></script>
<!--<![endif]-->
<script src="/static/js/backbone-pageable.min.js"></script>
<script src="/static/js/backbone.analytics-min.js"></script>
<script src="/static/js/general.min.js"></script>
<script src="/static/js/models.min.js"></script>
<script src="/static/js/collections.min.js"></script>
<script src="/static/js/views.min.js"></script>
<script src="/static/js/main.min.js"></script>
{% endif %}
<script type="text/template" id="time-template">
    <% if (!item.edit) { %>
    <tr <% if(item.get('hours')>2){ %>class="warning"<% } %>>
        <td><%- item.get('date') %></td>
        <td><%- item.get('hours') %></td>
        <td><a href="#people/<%- item.get('person-id') %>"><i class="icon-user"></i><%- item.get('person-name') %></a></td>
        <td>
            <% if (item.get('todo-item-id')) { %>
                <a href="#projects/<%- item.get('project-id') %>/time_entries/todo_items/<%- item.get('todo-item-id') %>"><i class="icon-file"></i></a>
            <% } else { %>
                <a href="#projects/<%- item.get('project-id') %>/time_entries"><i class="icon-folder-close"></i></a>
            <% } %>
            <%- item.get('description') %>
            <button id="edit" data-id="<%- item.id %>"><i class="icon-edit"></i></button>
            <button id="remove" data-id="<%- item.id %>"><i class="icon-remove"></i></button>
        </td>
    </tr>
    <% } else { %>
    <tr class="edittime">
        <th><input data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" type="text" class="input-small" name="date" placeholder="YYYY-MM-DD" value="<%- item.get('date') %>"></th>
        <th><input type="text" class="input-small" name="hours" placeholder="hours" value="<%- item.get('hours') %>"></th>
        <th>
            <div>
                <i class="icon-user"></i><select name="person-id">
                    <% collections.people.each(function (i) { %>
                        <option value="<%- i.id %>" <% if (i.id==item.get('person-id')) { %>selected="selected"<% } %>><%- i.name() %></option>
                    <% }) %>
                </select>
            </div>
        </th>
        <th>
            <div>
                <input type="text" class="input-small" name="description" value="<%- item.get('description') %>">
                <button id="save" data-id="<%- item.id %>"><i class="icon-ok"></i></button>
            </div>
        </th>
    </tr>
    <% } %>
</script>
<script type="text/template" id="pager-template">
    <% if(view.collection.hasPrevious() || view.collection.hasNext()){ %>
    <ul class="pager">
        <li class="<%- view.pagerid %> previous<% if(!view.collection.hasPrevious()){ %> disabled<% } %>">
            <a href="#">&larr; Previous Page</a>
        </li>
        <li class="<%- view.pagerid %> next<% if(!view.collection.hasNext()){ %> disabled<% } %>">
            <a href="#">Next Page &rarr;</a>
        </li>
    </ul>
    <% } %>
</script>
<script type="text/template" id="header-template">
    <div class="page-header">
        <h1><%- view.name() %></h1>
        <% if (view.model && view.model.get('company')) { %><small><a href="#companies/<%- view.model.get('company').id %>"><%- view.model.get('company').name %></a></small><% } %>
    </div>
</script>
<script type="text/template" id="project-nav-template">
    <ul class="nav nav-tabs projectnav">
        <li><a href="#projects/<%- view.model.id %>">Overview</a></li>
        <li><a href="#projects/<%- view.model.id %>/posts">Messages</a></li>
        <li><a href="#projects/<%- view.model.id %>/todo_lists">To-Dos</a></li>
        <li><a href="#projects/<%- view.model.id %>/calendar">Calendar</a></li>
        <li><a href="#projects/<%- view.model.id %>/time_entries">Time</a></li>
        <li><a href="#projects/<%- view.model.id %>/files">Files</a></li>
        <li class="pull-right"><a href="#projects/<%- view.model.id %>/people">People</a></li>
        <li class="pull-right"><a href="#projects/<%- view.model.id %>/categories">Categories</a></li>
    </ul>
</script>
<script type="text/template" id="time-report-template">
    <%= view.renderheader() %>
    <div id="time_report" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="makereportlabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="makereportlabel">Make report</h3>
    </div>
    <form id="makereport">
        <div class="modal-body">
        <div class="input-prepend">
            <span class="add-on">From</span>
            <input data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyymmdd" type="text" class="input-small" name="from" placeholder="YYYYMMDD">
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">To</span>
            <input data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyymmdd" type="text" class="input-small" name="to" placeholder="YYYYMMDD">
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">For</span>
            <select name="subject_id" class="input-medium">
                <option value="">All</option>
                <% view.options.collections.people.each(function (i) { %>
                    <option value="<%- i.id %>"><%- i.name() %></option>
                <% }) %>
            </select>
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Project</span>
            <select name="filter_project_id" class="input-medium">
                <option value="">All</option>
                <% view.options.collections.projects.each(function (i) { %>
                    <option value="<%- i.id %>"><%- i.get('name') %></option>
                <% }) %>
            </select>
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Company</span>
            <select name="filter_company_id" class="input-medium">
                <option value="">All</option>
                <% view.options.collections.companies.each(function (i) { %>
                    <option value="<%- i.id %>"><%- i.get('name') %></option>
                <% }) %>
            </select>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="getreport" type="submit" data-dismiss="modal" class="btn btn-primary">Report</button>
        </div>
    </form>
    </div>
    <a href="#time_report" role="button" class="btn btn-primary" data-toggle="modal">Report</a>
    <% var tt=view.collection;
    if (tt.isEmpty()) { %>
    <div class="alert alert-info">
        No time entries...
    </div>
    <% } else { %>
    <%= view.renderpager() %>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>date</th>
                <th>hours</th>
                <th>person</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <% var prs=view.options.collections.projects;
            _.each(_.uniq(tt.pluck('project-id')), function (prid) { %>
            <tr class="info">
                <td colspan="4">
                    <a href="#projects/<%- prid %>/time_entries">
                        <%- prs.get(prid)?prs.get(prid).get('name'):prid %>
                    </a>
                </td>
            </tr>
            <% _.each(tt.where({'project-id':prid}), function (item) { %>
                <%= view.renderitem(item) %>
            <% }) %>
            <% }) %>
        </tbody>
    </table>
    <%= view.renderpager() %>
    <% } %>
</script>
<script type="text/template" id="projects-template">
    <%= view.renderheader() %>
    <% var pp=view.collection; if (pp.isEmpty()) { %>
    <div class="alert alert-info">
        No projects...
    </div>
    <% } else { %>
    <div class="tabbable">
    <ul class="nav nav-pills">
    <% var fprst=_.first(pp.pluck('status'));
       _.each(_.uniq(pp.pluck('status')), function (status) { %>
        <li class="prstatus<% if (fprst==status) { %> active<% } %> pull-right">
            <a href="#projects_<%- status %>" data-toggle="tab"><%- status %></a>
        </li>
    <% }) %>
    </ul>
    <div class="tab-content">
    <% _.each(pp.groupBy(function(i){ return i.get('status')}), function (plist, status) { %>
        <div class="tab-pane fade<% if (fprst==status) { %> in active<% } %>" id="projects_<%- status %>">
            <div class="tabbable row-fluid">
            <ul class="nav nav-list span4 pull-right">
            <% var fprcoid=_.first(plist).get('company').id;
            _.each(_.groupBy(plist, function(item){ return item.get('company').id}), function (list, coid) { %>
                <li<% if (fprcoid==coid) { %> class="active"<% } %>>
                    <a href="#projects_<%- status %>_<%- coid %>" data-toggle="tab"><%- _.first(list).get('company').name %></a>
                </li>
            <% }) %>
            </ul>
            <div class="tab-content span8">
            <% _.each(_.groupBy(plist, function(item){ return item.get('company').id}), function (list, coid) { %>
                <div class="tab-pane fade<% if (fprcoid==coid) { %> in active<% } %>" id="projects_<%- status %>_<%- coid %>">
                    <ul class="unstyled">
                    <% _.each(list, function (item) { %>
                        <li>
                            <h3><a href="#projects/<%- item.id %>"><%- item.get('name') %></a></h3>
                        </li>
                    <% }) %>
                    </ul>
                </div>
            <% }) %>
            </div>
            </div>
        </div>
    <% }) %>
    </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="project-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% if (view.model.get('announcement')) { %><p><%= view.model.get('announcement') %></p><% } %>
</script>
<script type="text/template" id="companies-template">
    <%= view.renderheader() %>
    <% cc=view.collection; if (cc.isEmpty()) { %>
    <div class="alert alert-info">
        No companies...
    </div>
    <% } else { %>
    <dl>
    <% cc.each(function (item) { %>
        <dt><h3><a href="#companies/<%- item.id %>"><%- item.get('name') %></a></h3></dt>
        <dd class="row-fluid thumbnail">
            <div class="span4">
                <% if (item.get('web-address')) { %><a href="<%- item.get('web-address') %>"><b><%- item.get('web-address') %></b></a><br /><% } %>
                <% if (item.get('time-zone-id')) { %>Time zone: <%- item.get('time-zone-id') %><br /><% } %>
                <% if (item.get('locale')) { %>Locale: <%- item.get('locale') %><% } %>
            </div>
            <div class="span4">
                <% if (item.get('country')) { %><%- item.get('country') %><br /><% } %>
                <% if (item.get('city')) { %><%- item.get('city') %> <%- item.get('zip') %><br /><% } %>
                <% if (item.get('address-one')) { %><%- item.get('address-one') %><br /><% } %>
                <% if (item.get('address-two')) { %><%- item.get('address-two') %><% } %>
            </div>
            <div class="span4">
                <% if (item.get('state')) { %>State: <%- item.get('state') %><br /><% } %>
                <% if (item.get('phone-number-office')) { %>Office phone: <%- item.get('phone-number-office') %><br /><% } %>
                <% if (item.get('phone-number-fax')) { %>Fax phone: <%- item.get('phone-number-fax') %><br /><% } %>
            </div>
        </dd>
    <% }) %>
    </dl>
    <% } %>
</script>
<script type="text/template" id="company-template">
    <%= view.renderheader() %>
    <div class="row">
        <div class="span4">
            <h2>Projects</h2>
            <% var cid = view.model.id; var pp=view.options.collections.projects; if (pp.isEmpty()) { %>
            <div class="alert alert-info">
                No projects...
            </div>
            <% } else { %>
            <ul class="unstyled">
            <% _.each(pp.filter(function(i){return i.get('company').id==cid}), function (item) { %>
                <li><i class="<%- item.icon() %>"></i>&nbsp;<a href="#projects/<%- item.id %>"><%- item.get('name') %></a></li>
            <% }) %>
            </ul>
            <% } %>
        </div>
        <div class="span4">
            <h2>People</h2>
            <% var pp=view.options.collections.people; if (pp.isEmpty()) { %>
            <div class="alert alert-info">
                No people...
            </div>
            <% } else { %>
            <ul class="unstyled">
            <% _.each(pp.filter(function(i){return i.get('company-id')==cid}), function (item) { %>
                <li><a href="#people/<%- item.id %>"><i class="icon-user"></i><%- item.name() %></a></li>
            <% }) %>
            </ul>
            <% } %>
        </div>
        <div class="span4">
            <h2>Contact</h2>
            <% if (view.model.get('web-address')) { %>
            <a href="<%- view.model.get('web-address') %>"><b><%- view.model.get('web-address') %></b></a><br />
            <% } %>
            <% if (view.model.get('time-zone-id')) { %>Time zone: <%- view.model.get('time-zone-id') %><br /><% } %>
            <% if (view.model.get('locale')) { %>Locale: <%- view.model.get('locale') %><% } %>
            <% if (view.model.get('country')) { %><%- view.model.get('country') %><br /><% } %>
            <% if (view.model.get('city')) { %><%- view.model.get('city') %> <%- view.model.get('zip') %><br /><% } %>
            <% if (view.model.get('address-one')) { %><%- view.model.get('address-one') %><br /><% } %>
            <% if (view.model.get('address-two')) { %><%- view.model.get('address-two') %><% } %>
            <% if (view.model.get('state')) { %>State: <%- view.model.get('state') %><br /><% } %>
            <% if (view.model.get('phone-number-office')) { %>Office phone: <%- view.model.get('phone-number-office') %><br /><% } %>
            <% if (view.model.get('phone-number-fax')) { %>Fax phone: <%- view.model.get('phone-number-fax') %><br /><% } %>
        </div>
    </div>
</script>
<script type="text/template" id="person-template">
    <%= view.renderheader() %>
    <img class="pull-right img-polaroid" width="55" height="55"
         src="<%- view.model.get('avatar-url') %>"
         alt="<%- view.model.name() %>">
    <a href="mailto:<%- view.model.get('email-address') %>"><b><%- view.model.get('email-address') %></b></a><br />
    <% if (view.model.get('im-service')&&view.model.get('im-handle')) { %>
        <%- view.model.get('im-service') %>: <% if (view.model.get('im-service')=='Skype') { %>
            <a href="skype:<%- view.model.get('im-handle') %>?call" title="Skype call to <%- view.model.name() %>"><%- view.model.get('im-handle') %></a>
        <% } else { %>
            <%- view.model.get('im-handle') %>
        <% } %>
        <br />
    <% } %>
    <% if (view.model.get('phone-number-office')) { %>Office phone: <%- view.model.get('phone-number-office') %><br /><% } %>
    <% if (view.model.get('phone-number-mobile')) { %>Mobile phone: <%- view.model.get('phone-number-mobile') %><br /><% } %>
    <% if (view.model.get('phone-number-home')) { %>Home phone: <%- view.model.get('phone-number-home') %><br /><% } %>
    <% if (view.model.get('phone-number-fax')) { %>Fax phone: <%- view.model.get('phone-number-fax') %><br /><% } %>
    <% if (view.model.get('time-zone-name')) { %>Time zone: <%- view.model.get('time-zone-name') %><% } %>
</script>
<script type="text/template" id="personitem-template">
    <li class="media well well-small">
        <a class="pull-right" href="#people/<%- item.id %>" title="<%- item.name() %>">
            <img class="media-object img-polaroid" src="<%- item.get('avatar-url') %>" alt="<%- item.name() %>">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="#people/<%- item.id %>" title="<%- item.name() %>">
                    <%- item.name() %>
                </a>
                <% if (item.get('title')) { %>
                <small><%- item.get('title') %></small>
                <% } %>
            </h4>
            <a href="mailto:<%- item.get('email-address') %>"><b><%- item.get('email-address') %></b></a><br />
            <% if (item.get('im-service')&&item.get('im-handle')) { %>
                <%- item.get('im-service') %>: <% if (item.get('im-service')=='Skype') { %>
                    <a href="skype:<%- item.get('im-handle') %>?call" title="Skype call to <%- item.name() %>"><%- item.get('im-handle') %></a>
                <% } else { %>
                    <%- item.get('im-handle') %>
                <% } %>
                <br />
            <% } %>
            <% if (item.get('phone-number-office')) { %>Office phone: <%- item.get('phone-number-office') %><br /><% } %>
            <% if (item.get('phone-number-mobile')) { %>Mobile phone: <%- item.get('phone-number-mobile') %><br /><% } %>
            <% if (item.get('phone-number-home')) { %>Home phone: <%- item.get('phone-number-home') %><br /><% } %>
            <% if (item.get('phone-number-fax')) { %>Fax phone: <%- item.get('phone-number-fax') %><br /><% } %>
            <% if (item.get('time-zone-name')) { %>Time zone: <%- item.get('time-zone-name') %><% } %>
        </div>
    </li>
</script>
<script type="text/template" id="people-template">
    <%= view.renderheader() %>
    <% var pp=view.collection; var co=view.options.collections.companies;
    if (pp.isEmpty()) { %>
    <div class="alert alert-info">
        No people...
    </div>
    <% } else { 
    if (co.isEmpty()) { %>
    <ul class="media-list">
    <% pp.each(function (item) { %>
        <%= view.renderitem(item) %>
    <% }) %>
    </ul>
    <% } else { %>
    <div class="tabbable tabs-left row-fluid">
    <ul class="nav nav-tabs span3">
    <% var fcoid=_.first(pp.pluck('company-id'));
       view.options.collections.companies.each(function (item) { %>
        <li<% if (fcoid==item.id) { %> class="active"<% } %>><a href="#people_c<%- item.id %>" data-toggle="tab"><%- item.get('name') %></a></li>
    <% }) %>
    </ul>
    <div class="tab-content span8">
    <% view.options.collections.companies.each(function (cc) { %>
        <div class="tab-pane fade<% if (fcoid==cc.id) { %> in active<% } %>" id="people_c<%- cc.id %>">
            <% var cp=pp.where({'company-id':cc.id}); if (_.isEmpty(cp)) { %>
            <div class="alert alert-info">
                No people in company...
            </div>
            <% } else { %>
            <ul class="media-list">
            <% _.each(cp, function (item) { %>
                <%= view.renderitem(item) %>
            <% }) %>
            </ul>
            <% } %>
        </div>
    <% }) %>
    </div>
    </div>
    <% }} %>
</script>
<script type="text/template" id="project-people-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var pp=view.collection;  var cc=view.options.collections.companies;
    if (pp.isEmpty()) { %>
    <div class="alert alert-info">
        No people...
    </div>
    <% } else {
    if (cc.isEmpty()) { %>
    <ul class="media-list">
    <% pp.each(function (item) { %>
        <%= view.renderitem(item) %>
    <% }) %>
    </ul>
    <% } else { %>
    <div class="tabbable tabs-left row-fluid">
    <ul class="nav nav-tabs span3">
    <% var pc=_.uniq(pp.pluck('company-id')); var fcoid=_.first(pc); 
    _.each(pc, function (id) { %>
        <li<% if (fcoid==id) { %> class="active"<% } %>><a href="#people_c<%- id %>" data-toggle="tab"><%- cc.get(id)?cc.get(id).get('name'):id %></a></li>
    <% }) %>
    </ul>
    <div class="tab-content span8">
    <% _.each(pc, function (id) { %>
        <div class="tab-pane fade<% if (fcoid==id) { %> in active<% } %>" id="people_c<%- id %>">
            <ul class="media-list">
            <% _.each(pp.where({'company-id':id}), function (item) { %>
                <%= view.renderitem(item) %>
            <% }) %>
            </ul>
        </div>
    <% }) %>
    </div>
    </div>
    <% }} %>
</script>
<script type="text/template" id="project-time-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var tt=view.collection; var prid=view.model.id;
    var pp=view.options.collections.people;
    var mid=view.options.mydata?view.options.mydata.id:0;
    if (tt.isEmpty()) { %>
    <div class="alert alert-info">
        No time entries...
    </div>
    <% } else { %>
    <%= view.renderpager() %>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>date</th>
                <th>hours</th>
                <th data-sort="person-id">person</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="addtime">
                <th><input data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" type="text" class="input-small" name="date" placeholder="YYYY-MM-DD" value="<%- new Date().toJSON().split("T")[0] %>"></th>
                <th><input type="text" class="input-small" name="hours" placeholder="hours" value="0"></th>
                <th>
                    <div>
                        <i class="icon-user"></i><select name="person-id">
                            <% pp.each(function (i) { %>
                                <option value="<%- i.id %>" <% if (i.id==mid) { %>selected="selected"<% } %>><%- i.name() %></option>
                            <% }) %>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <input type="text" class="input-small" name="description">
                        <button id="add"><i class="icon-plus"></i></button>
                    </div>
                </th>
            </tr>
            <% tt.each(function (item) { %>
                <%= view.renderitem(item) %>
            <% }) %>
        </tbody>
    </table>
    <%= view.renderpager() %>
    <% } %>
</script>
<script type="text/template" id="todo-time-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var tt=view.collection; var prid=view.model.id;
    if (tt.isEmpty()) { %>
    <div class="alert alert-info">
        No time entries...
    </div>
    <% } else { %>
    <%= view.renderpager() %>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>date</th>
                <th>hours</th>
                <th>person</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <% tt.each(function (item) { %>
                <%= view.renderitem(item) %>
            <% }) %>
        </tbody>
    </table>
    <%= view.renderpager() %>
    <% } %>
</script>
<script type="text/template" id="post-template">
    <li class="thumbnail">
        <h3>
            <a href="#projects/<%- item.get('project-id') %>/posts/<%- item.id %>"><%- item.get('title') %></a>
            <% if (item.get('private')) { %><i class="icon-lock"></i><% } %>
            <a href="#projects/<%- item.get('project-id') %>/posts/<%- item.id %>/comments" title="<%- item.get('comments-count') %>">
                <i class="icon-comment"></i>
            </a>
        </h3>
        <small>
            by
            <a href="#people/<%- item.get('author-id') %>">
                <i class="icon-user"></i><%- item.get('author-name') %>
            </a>
            <% if (item.get('category-id')) { %>
            in
            <a href="#projects/<%- item.get('project-id') %>/categories/<%- item.get('category-id') %>">
                <%- item.get('category-name') %>
            </a>
            <% } %>
            on: <%- new Date(item.get('posted-on')) %>
        </small>
        <p><%= item.get('display-body') %></p>
        <% if (item.get('attachments')) { %>
        <ul>
            <% _.each(item.get('attachments'),function (a) { %>
            <li>
                <a href="<%- a['download-url'] %>"><%- a.name %></a>
                <small>
                    <%- a['byte-size'] %>B
                    <a href="#people/<%- a['person-id'] %>"><i class="icon-user"></i><%- a['author-name'] %></a>
                </small>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </li>
</script>
<script type="text/template" id="project-posts-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var pp=view.collection; var prid=view.model.id;
    if (pp.isEmpty()) { %>
    <div class="alert alert-info">
        No posts...
    </div>
    <% } else { %>
    <ul class="unstyled">
    <% pp.each(function (item) { %>
        <%= view.renderitem(item) %>
    <% }) %>
     </ul>
    <% } %>
</script>
<script type="text/template" id="project-post-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var pp=view.collection; var prid=view.model.id; var item=pp.get(view.cur_item);
    if (pp.isEmpty()) { %>
    <div class="alert alert-info">
        No posts...
    </div>
    <% } else { %>
    <ul class="unstyled">
        <%= view.renderitem(item) %>
    </ul>
    <% } %>
</script>
<script type="text/template" id="project-post-comments-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var item=view.options.collections.project_posts.get_or_create(view.model.id).get(view.cur_item);
    if (item) { %>
    <ul class="unstyled">
        <%= view.renderitem(item) %>
    </ul>
    <% } %>
    <%= view.rendercomments(view.collection) %>
</script>
<script type="text/template" id="project-files-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var ff=view.collection; var prid=view.model.id; var pp=view.options.collections.people;
    var cc=view.options.collections.project_categories.get_or_create(view.model.id);
    if (ff.isEmpty()) { %>
    <div class="alert alert-info">
        No files...
    </div>
    <% } else { %>
    <%= view.renderpager() %>
    <ul class="media-list">
    <% ff.each(function (item) { %>
        <li class="media well well-small">
            <h3>
                <a href="#projects/<%- prid %>/files/<%- item.id %>">
                    <%- item.get('name') %><% if (item.get('private')) { %><i class="icon-lock"></i><% } %>
                </a>
            </h3>
            <small>
                by
                <a href="#people/<%- item.get('person-id') %>">
                    <i class="icon-user"></i><%- pp.get(item.get('person-id'))?pp.get(item.get('person-id')).name():item.get('person-id') %>
                </a>
                <% if (item.get('category-id')) { %>
                in
                <a href="#projects/<%- prid %>/categories/<%- item.get('category-id') %>">
                    <%- cc.get(item.get('category-id'))?cc.get(item.get('category-id')).get('name'):item.get('category-id') %>
                </a>
                <% } %>
                on
                <%- new Date(item.get('created-on')) %>,
                <%- item.get('byte-size') %>B
            </small>
            <br/>
            <a class="btn btn-success" href="<%- item.get('download-url') %>">Download</a>
        </li>
    <% }) %>
    </ul>
    <%= view.renderpager() %>
    <% } %>
</script>
<script type="text/template" id="project-file-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var ff=view.collection; var prid=view.model.id; var pp=view.options.collections.people;
    var cc=view.options.collections.project_categories.get_or_create(view.model.id); var item=ff.get(view.cur_item);
    if (ff.isEmpty()) { %>
    <div class="alert alert-info">
        No files...
    </div>
    <% } else { %>
    <ul class="media-list">
        <li class="media well well-small">
            <h3>
                <a href="#projects/<%- prid %>/files/<%- item.id %>">
                    <%- item.get('name') %><% if (item.get('private')) { %><i class="icon-lock"></i><% } %>
                </a>
            </h3>
            <small>
                by
                <a href="#people/<%- item.get('person-id') %>">
                    <i class="icon-user"></i><%- pp.get(item.get('person-id'))?pp.get(item.get('person-id')).name():item.get('person-id') %>
                </a>
                <% if (item.get('category-id')) { %>
                in
                <a href="#projects/<%- prid %>/categories/<%- item.get('category-id') %>">
                    <%- cc.get(item.get('category-id'))?cc.get(item.get('category-id')).get('name'):item.get('category-id') %>
                </a>
                <% } %>
                on
                <%- new Date(item.get('created-on')) %>,
                <%- item.get('byte-size') %>B
            </small>
            <br/>
            <a class="btn btn-success" href="<%- item.get('download-url') %>">Download</a>
        </li>
    </ul>
    <% } %>
</script>
<script type="text/template" id="calendar-template">
    <li class="thumbnail">
        <h3>
            <a <% if (item.get('completed')) { %>class="muted" <% } %>href="#projects/<%- item.get('project-id') %>/calendar/<%- item.id %>">
                <%- item.get('title') %>
            </a>
            <a href="#projects/<%- item.get('project-id') %>/calendar/<%- item.id %>/comments" title="<%- item.get('comments-count') %>">
                <i class="icon-comment"></i>
            </a>
        </h3>
        <small>
            <% if (item.get('responsible-party-id')) { %>
            <a href="#<%- item.get('responsible-party-type')=='Company'?'companies':'people' %>/<%- item.get('responsible-party-id') %>">
                <% if (item.get('responsible-party-type')=='Person') { %><i class="icon-user"></i><% } %>
                <%- item.get('responsible-party-name') %>
            </a><br />
            <% } %>
            Type: <%- item.get('type') %><br />
            <% if (item.get('start-at')) { %>
            Start at <%- new Date(item.get('start-at')).toDateString() %><br />
            <% } %>
            <% if (item.get('due-at')) { %>
            Due at <%- new Date(item.get('due-at')).toDateString() %><br />
            <% } %>
            <% if (item.get('deadline')) { %>
            Deadline at <%- new Date(item.get('deadline')).toDateString() %><br />
            <% } %>
            Created by
            <a href="#people/<%- item.get('creator-id') %>">
                <i class="icon-user"></i><%- item.get('creator-name') %>
            </a>
            on
            <%- new Date(item.get('created-on')) %>
            <% if (item.get('completed')) { %>
            <br />
            Completed by
            <a href="#people/<%- item.get('completer-id') %>">
                <i class="icon-user"></i><%- item.get('completer-name') %>
            </a>
            at
            <%- new Date(item.get('completed-at')) %>
            <% } %>
        </small>
    </li>
</script>
<script type="text/template" id="project-calendar-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var cc=view.collection; var prid=view.model.id;
    if (cc.isEmpty()) { %>
    <div class="alert alert-info">
        No events...
    </div>
    <% } else { %>
    <ul class="unstyled">
    <% cc.each(function (item) { %>
        <%= view.renderitem(item) %>
    <% }) %>
    </ul>
    <% } %>
</script>
<script type="text/template" id="project-calendar-entry-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var cc=view.collection; var prid=view.model.id; var item=cc.get(view.cur_item);
    if (cc.isEmpty()) { %>
    <div class="alert alert-info">
        No events...
    </div>
    <% } else { %>
    <ul class="unstyled">
        <%= view.renderitem(item) %>
     </ul>
    <% } %>
</script>
<script type="text/template" id="project-calendar-entry-comments-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var item=view.options.collections.project_calendar.get_or_create(view.model.id).get(view.cur_item);
    if (item) { %>
    <ul class="unstyled">
        <%= view.renderitem(item) %>
    </ul>
    <% } %>
    <%= view.rendercomments(view.collection) %>
</script>
<script type="text/template" id="category-template">
    <dt>
        <h3>
            <a href="#projects/<%- item.get('project-id') %>/categories/<%- item.id %>"><%- item.get('name') %></a>
        </h3>
    </dt>
    <dd>
        <%- item.get('type') %><br />Elements: <%- item.get('elements-count') %>
    </dd>
</script>
<script type="text/template" id="project-categories-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var cc=view.collection; var prid=view.model.id;
    if (cc.isEmpty()) { %>
    <div class="alert alert-info">
        No categories...
    </div>
    <% } else { %>
    <%= view.renderpager() %>
    <dl>
    <% cc.each(function (item) { %>
        <%= view.renderitem(item) %>
    <% }) %>
    </dl>
    <%= view.renderpager() %>
    <% } %>
</script>
<script type="text/template" id="project-category-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var cc=view.collection; var prid=view.model.id; var item=cc.get(view.cur_item);
    if (cc.isEmpty()) { %>
    <div class="alert alert-info">
        No categories...
    </div>
    <% } else { %>
    <dl>
        <%= view.renderitem(item) %>
    </dl>
    <% } %>
</script>
<script type="text/template" id="todo-template">
    <% var item=view.model;
    var prid=view.options.project_id;
    var list=view.options.collections.project_todo_lists.get_or_create(prid).get(item.get("todo-list-id"));
    if (item.get('completed')) { %>
    <i class="todo icon-completed" data-todolist-id="<%- item.get("todo-list-id") %>" data-todoitem-id="<%- item.id %>"></i>
    <% } else { %>
    <i class="todo icon-uncompleted" data-todolist-id="<%- item.get("todo-list-id") %>" data-todoitem-id="<%- item.id %>"></i>
    <% } %>
    <% if (list&&list.get('tracked')) { %>
    <a href="#projects/<%- prid %>/time_entries/todo_items/<%- item.id %>">
        <i class="icon-time"></i>
    </a>
    <% } %>
    <a href="#projects/<%- prid %>/todo_lists/<%- item.get("todo-list-id") %>/<%- item.id %>">
        <%= item.get('content') %>
    </a>
    <a href="#projects/<%- prid %>/todo_lists/<%- item.get("todo-list-id") %>/<%- item.id %>/comments" title="<%- item.get('comments-count') %>">
        <i class="icon-comment"></i>
    </a>
</script>
<script type="text/template" id="todolist-template">
    <dt>
        <a <% if (item.get('completed')) { %>class="muted"<% } %>
           href="#projects/<%- item.get('project-id') %>/todo_lists/<%- item.id %>">
            <%- item.get('name') %><% if (item.get('private')) { %><i class="icon-lock"></i><% } %>
        </a>
        <small><%= item.get('description') %></small>
    </dt>
</script>
<script type="text/template" id="todo-lists-template">
    <%= view.renderheader() %>
    <% var td=view.collection;
    var pp=view.options.collections.people;
    var prs=view.options.collections.projects;
    var party=view.collection.responsible_party;
    var mid=party==null?view.options.mydata.id:view.collection.responsible_party; %>
    <div>
        <div class="pull-right">Show items assigned to:
            <select name="target">
                <option value="" <% if (party=="") { %>selected="selected"<% } %>>Nobody</option>
                <% pp.each(function (i) { %>
                    <option value="<%- i.id %>" <% if (i.id==mid) { %>selected="selected"<% } %>><%- i.name() %></option>
                <% }) %>
            </select>
        </div>
        <h3><%- view.description() %> to-do items across all projects</h3>
    </div>
    <% if (td.isEmpty()) { %>
    <div class="alert alert-info">
        No todo lists...
    </div>
    <% } else { %>
    <dl>
    <% _.each(_.uniq(td.pluck('project-id')),function (prid) { %>
        <dt><a href="#projects/<%- prid %>/todo_lists"><%- prs.get(prid)?prs.get(prid).get('name'):prid %></a></dt>
        <dd>
        <dl>
            <% _.each(td.where({'project-id':prid}), function (list) { %>
            <%= view.renderitem(list) %>
            <dd>
            <dl>
            <% _.each(list.get('todo-items'), function (item) { %>
            <dd>
                <% if(false){if (item.completed) { %>
                <i class="todo-lists icon-completed" data-todolist-id="<%- list.id %>" data-todoitem-id="<%- item.id %>"></i>
                <% } else { %>
                <i class="todo-lists icon-uncompleted" data-todolist-id="<%- list.id %>" data-todoitem-id="<%- item.id %>"></i>
                <% } %>
                <% if (list.get('tracked')) { %>
                <a href="#projects/<%- prid %>/time_entries/todo_items/<%- item.id %>">
                    <i class="icon-time"></i>
                </a>
                <% }} %>
                <a href="#projects/<%- prid %>/todo_lists/<%- list.id %>/<%- item.id %>">
                    <%= item.content %>
                </a>
                <% if(false){ %>
                <a href="#projects/<%- prid %>/todo_lists/<%- list.id %>/<%- item.id %>/comments" title="<%- item['comments-count'] %>">
                    <i class="icon-comment"></i>
                </a>
                <% } %>
            </dd>
            <% }) %>
            </dl>
            </dd>
            <% }) %>
        </dl>
        </dd>
    <% }) %>
    </dl>
    <% } %>
</script>
<script type="text/template" id="project-todo-lists-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var td=view.collection; var todo_items=view.options.collections.todo_items; var prid=view.model.id;
    if (td.isEmpty()) { %>
    <div class="alert alert-info">
        No todo lists...
    </div>
    <% } else { %>
    <div class="tabbable row-fluid">
    <ul class="nav nav-list span4 pull-right">
    <% var ftdst=_.first(td.pluck('completed'));
       _.each(_.uniq(td.pluck('completed')), function (status) { %>
        <li<% if (ftdst==status) { %> class="active"<% } %>>
            <a href="#todolists_<%- status %>" data-toggle="tab">
                <% if (status==true) { %>Finished<% } else { %>Pending<% } %>
            </a>
        </li>
    <% }) %>
    </ul>
    <div class="tab-content span8">
        <% _.each(td.groupBy(function(i){ return i.get('completed')}), function (tlgroup, status) { %>
        <div class="tab-pane fade<% if (ftdst+""==status) { %> in active<% } %>" id="todolists_<%- status %>">
            <dl>
                <% _.each(tlgroup, function (list) { %>
                <%= view.renderitem(list) %>
                <dd>
                    <small>
                        Completed: <%- list.get('completed-count') %>
                        <br />
                        Uncompleted: <%- list.get('uncompleted-count') %>
                    </small>
                </dd>
                <% }) %>
            </dl>
        </div>
        <% }) %>
    </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="project-todo-list-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var td=view.collection; var todo_items=view.options.collections.todo_items; var prid=view.model.id;
    var ci=view.cur_item; var list=td.get(ci); var ftdst=list&&list.get('completed');
    if (td.isEmpty()) { %>
    <div class="alert alert-info">
        No todo lists...
    </div>
    <% } else { %>
    <div class="row-fluid">
    <dl class="todoitemsholder span8">
        <%= view.renderitem(list) %>
    </dl>
    <div class="tabbable span4 pull-right">
    <ul class="nav nav-pills">
    <% _.each(_.uniq(td.pluck('completed')), function (status) { %>
        <li<% if (ftdst==status) { %> class="active"<% } %>>
            <a href="#todolists_<%- status %>" data-toggle="tab">
                <% if (status==true) { %>Finished<% } else { %>Pending<% } %>
            </a>
        </li>
    <% }) %>
    </ul>
    <div class="tab-content">
    <% _.each(td.groupBy(function(i){ return i.get('completed')}), function (tlgroup, status) { %>
        <div class="tab-pane fade<% if (ftdst+""==status) { %> in active<% } %>" id="todolists_<%- status %>">
        <ul class="nav nav-list">
            <% _.each(tlgroup, function (l) { %>
            <li<% if (ci==l.id) { %> class="active"<% } %>>
                <a href="#projects/<%- prid %>/todo_lists/<%- l.id %>">
                    <%- l.get('name') %><% if (l.get('private')) { %><i class="icon-lock"></i><% } %>
                </a>
            </li>
            <% }) %>
        </ul>
        </div>
    <% }) %>
    </div>
    </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="project-todo-item-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var td=view.collection; var todo_items=view.options.collections.todo_items;
    var prid=view.model.id; var list_id=view.cur_item; var item_id=view.todo_item;
    var items=todo_items.get_or_create(list_id); var list=td.get(list_id);
    var item=items.get(item_id);
    if (td.isEmpty()||items.isEmpty()) { %>
    <div class="alert alert-info">
        No todo items...
    </div>
    <% } else { %>
    <dl class="todoitemsholder">
        <%= view.renderitem(list) %>
    </dl>
    <% } %>
</script>
<script type="text/template" id="project-todo-item-comments-template">
    <%= view.renderheader() %>
    <%= view.renderprojectnav() %>
    <% var td=view.todo_lists; var todo_items=view.options.collections.todo_items;
    var prid=view.model.id; var list_id=view.cur_item; var item_id=view.todo_item;
    var items=todo_items.get_or_create(list_id);
    var item=items.get(item_id);
    var ccc=view.collection;
    if (td.isEmpty()||items.isEmpty()) { %>
    <div class="alert alert-info">
        No todo items...
    </div>
    <% } else { %>
    <dl class="todoitemsholder">
    </dl>
    <% } %>
    <%= view.rendercomments(ccc) %>
</script>
<script type="text/template" id="comments-template">
    <% if (comments.isEmpty()) { %>
    <div class="alert alert-info">
        No comments...
    </div>
    <% } else { %>
    <ul class="unstyled">
        <% comments.each(function (item) { %>
        <li class="thumbnail">
            <small>
                <a href="#people/<%- item.get('author-id') %>">
                    <i class="icon-user"></i><%- item.get('author-name') %>
                </a>
                <%- new Date(item.get('created-at')) %>
            </small>
            <p><%= item.get('body') %></p>
            <% if (item.get('attachments')) { %>
            <ul>
                <% _.each(item.get('attachments'),function (a) { %>
                <li>
                    <a href="<%- a['download-url'] %>"><%- a.name %></a>
                    <small>
                        <%- a['byte-size'] %>B
                        <a href="#people/<%- a['person-id'] %>">
                            <i class="icon-user"></i><%- a['author-name'] %>
                        </a>
                    </small>
                </li>
                <% }) %>
            </ul>
            <% } %>
        </li>
        <% }) %>
    </ul>
    <% } %>
</script>
<script type="text/template" id="nav-template">
<div class="navbar-inner">
    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="brand" href="#">BB</a>
    <% if (_.isFinite(view.model.id)) { %>
    <ul class="nav nav-collapse">
        <li><a href="#projects">Projects</a></li>
        <li><a href="#companies">Companies</a></li>
        <li><a href="#todos">To-Dos</a></li>
        <li><a href="#time_report">Time</a></li>
        <li><a href="#people">People</a></li>
    </ul>
    <ul class="nav pull-right">
        <li>
            <a href="#me" title="<%- view.model.get('user-name') %>" class="dropdown-toggle" data-toggle="dropdown">
                <%- view.model.name() %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="#me"><i class="icon-user"></i> My profile</a></li>
                <li><a href="#todos"><i class="icon-tasks"></i> My todos</a></li>
                <li><a href="#time_report"><i class="icon-time"></i> My time</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="icon-eject"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
    <% } else { %>
    <ul class="nav pull-right">
        <li>
            <a href="/login" title="Login">Login</a>
        </li>
    </ul>
    <% } %>
</div>
</script>
</body>
</html>
