<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <title>BB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
{% if dev %}
    <link href="/static/css/bootstrap.css" rel="stylesheet">
{% else %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
{% endif %}
    <style type="text/css">
body {
    background-color: #f5f5f5;
}
.form-login {
    max-width: 330px;
    padding: 0px 20px 20px;
    margin: 0 auto 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <form class="form-login" role="form" action="/login" method="POST">
                <h1 class="form-login-heading">Log in</h1>
                <div id="statusline" class="alert alert-warning">
                    Please enter you credentials
                </div>
                <div class="form-group">
                    <label class="sr-only" for="subdomain">Subdomain</label>
                    <div class="input-group">
                        <input id="subdomain" type="text" name="subdomain" placeholder="Domain" class="input-lg form-control">
                        <span class="input-group-addon">.basecamphq.com</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="username">Subdomain</label>
                    <input id="username" type="text" name="username" placeholder="Login Name" class="input-lg input-block-level form-control">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Subdomain</label>
                    <input id="password" type="password" name="password" placeholder="Password" class="input-lg input-block-level form-control">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
{% if dev %}
<script src="/static/js/jquery-1.7.2.js"></script>
{% else %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38418276-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endif %}
<script type="text/javascript" >
    $(function () {
      $('form.form-login').submit(function (e) {
        var form = $(this),
            // validate values of input fields
            fields = ['password', 'username', 'subdomain'],
            valid = true,
            i;
        for (i=0; i<fields.length; i++) {
          if ($('input[name="'+fields[i]+'"]').val() === '') {
            $('input[name="'+fields[i]+'"]').parents('.form-group').removeClass('has-success').addClass('has-error');
            valid = false;
          } else {
            $('input[name="'+fields[i]+'"]').parents('.form-group').removeClass('has-error').addClass('has-success');
          }
        };
        var status_line = $('#statusline');
        if (valid) {
          status_line.text('Login...').removeClass('alert-danger').removeClass('alert-warning').addClass('alert-info');
        } else {
          status_line.text('Please enter all fields!').removeClass('alert-warning').addClass('alert-danger');
          return false;
        }

        $.ajax({
          type: 'POST',
          url: '/login',
          data: form.serialize(),
          success: function(data, textStatus) {
            status_line.text('Success!').removeClass('alert-info').addClass('alert-success');
            // go to the main page
            window.location = '/';
          },
          error: function(req, textStatus) {
            if (req.status === 401) {
              status_line.text('Unable to log-in!').removeClass('alert-info').addClass('alert-danger');
              for (i=0; i<fields.length; i++) {
                $('input[name="'+fields[i]+'"]').parents('.form-group').removeClass('has-success').addClass('has-error');
              }
            } else {
              status_line.text('Problems with server response.').removeClass('alert-info').addClass('alert-danger');
            }
          },
        });
        return false;
      });
    });
</script>
</body>
</html>
